.comment{
    border-bottom: 1px solid #D9D9D9 ;
    &__upvotes-box{
        border-radius: 0 0 .5rem;
        background-color: rgba(255,255,255, .8);
        padding: 0 5px;
        z-index: 100;
        
        position: absolute;
        text-align: center;

        img{
            height: 2rem;
        }
        .vote_count{
            font-weight: bold;
            margin: 0;
        }
        .down-arrow{
            transform: rotate(180deg);
        }
    }
    &__info{
        > div{
            padding: 0;
        }
        &-username{
            color:  var(--color-secondary-dark);
            font-weight: bold;
            padding-right: 1.5rem;
        }
    }
    &__reply{
        padding: 0;
        &-link{
            display: inline-block;
            text-decoration: none;
            height: 3rem;
            color: black;

            span{
                text-decoration: underline;
                vertical-align: middle;
                padding-left: 5px;
            }

            &:hover{
                cursor: pointer;
                filter: invert(68%) sepia(77%) saturate(498%) hue-rotate(351deg) brightness(102%) contrast(98%);
            }
        }
    }

    &__reply-box{

        img{
            height: 3rem;
        }
    }
}