<div class="row comment p-3 pt-4">
    <div class="col-1 comment__upvotes">
        <div class="comment__upvotes-box">
            <img class="up-arrow" src="../../../assets/imgs/up-arrow.svg">
            <p class="vote_count">{{getVoteCount()}}</p>
            <img class="down-arrow" src="../../../assets/imgs/up-arrow.svg">        
        </div>
    </div>
    <div class="col-11">
        <div class="row comment__info">
            <div>
                <span class="comment__info-username">
                    {{this.comment?.userName}}
                </span>
                <span class="comment__info-date">
                    {{getHoursOrMinutesFromToday()}}
                </span>

            </div>
        </div>
        <div class="row comment__text mt-2">
            {{this.comment?.commentText}}
        </div>

        <div class="row comment__reply-box pb-3">
            <div class="comment__reply mt-3">
                <a class="comment__reply-link">
                    <img src="../../../assets/imgs/comment.svg">
                    <span>Reply</span>
                </a>
            </div>
        </div>
    </div>

</div>
