<div class="row comment p-3 pt-4">
    <div class="col-1 comment__upvotes">
        <div class="comment__upvotes-box">
            <a (click)="doUpvote()" [ngClass]="{'active-vote': this.comment.vote == this.voteType.Upvote}">
                <img class="up-arrow" src="../../../assets/imgs/up-arrow.svg">
            </a>
            <p class="vote_count">{{getVoteCount()}}</p>
            <a (click)="doDownvote()" [ngClass]="{'active-vote': this.comment.vote == this.voteType.Downvote}">
                <img class="down-arrow" src="../../../assets/imgs/up-arrow.svg">        
            </a>
        </div>
    </div>
    <div class="col-11">
        <div class="row comment__info">
            <div>
                <span class="comment__info-username">
                    <a [href]="'user/'+this.comment.userId">{{this.comment.userName}}</a>
                </span>
                <span class="comment__info-date">
                    {{getHoursOrMinutesFromToday()}}
                </span>

            </div>
        </div>
        <div class="row comment__text mt-2">
            {{this.comment.commentText}}
        </div>

        <div class="row comment__reply-box pb-3">
            <div class="comment__reply mt-3">
                <a class="comment__reply-link">
                    <img src="../../../assets/imgs/comment.svg">
                    <span>Reply</span>
                </a>
            </div>
        </div>
    </div>

</div>
