<div class="row justify-content-md-center">
  <div class="sign-up-card col-11 col-sm-8 col-md-5 ms-auto me-auto">
    <h2 class="heading-secondary mt-6">
      <span class="sign-up-card__heading"> Sign In </span>
    </h2>
    <form
      #SignInform="ngForm"
      (ngSubmit)="onSignIn(SignInform)"
      class="sign-up-card__input-fields">
      <div class="form-group">
        <input
          id="username"
          name="username"
          type="text"
          autocomplete="username" 
          class="form-control input-text"
          placeholder="Username"
          required
          ngModel />
      </div>
      <div class="form-group">
        <input
          type="password"
          id="password"
          name="password"
          autocomplete="current-password"
          class="form-control input-text"
          placeholder="Password"
          required
          ngModel />
      </div>
      <div class="btn-wrap sign-up-card__input-fields-btn">
        <button
          type="submit"
          class="button button--yellow button--auth">
          Sign In
        </button>
      </div>
      <div class="sign-up-card__input-fields-link">
        <p>
          <a class="sign-up-card__input-fields-link-pass"
            >Forgot password?</a
          >
        </p>
      </div>

      <div class="sign-up-card__input-fields-divider">
        <button
          routerLink="/register"
          type="submit"
          class="button button--transp button--auth">
          Create an account
        </button>
      </div>
      <div class="sign-up-card__input-fields-or">
        <p>or</p>
      </div>
      <button type="button" class="login-with-google-btn" disabled>
        Log in with Google
      </button>
    </form>
  </div>
</div>
