@import '../../../Styles/abstract/mixins';

.sign-up-card {
  font-size: 1.6rem;
  background-color: var(--color-white);
  padding-bottom: 3rem;
  margin: 9rem 0 4rem;
  max-width: 55rem;

  .heading-secondary {
    padding: 3rem 0 2rem;
  }
  &__heading {
    padding: 0 1.5rem 1.5rem;
    border-bottom: solid 2px var(--color-primary);
  }

  &__input-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;

    @include respond(md) {
      padding: 0 5rem;
    }

    &:is(.ng-submitted){
      .form-control:is(.ng-invalid){
        border: solid 1px var(--color-error-red);
      }

    }

    > div {
      width: 100%;
    }
    .form-group {
      padding-top: 2.5rem;
    }

    &-p {
      padding: 2rem 0.5rem 1rem;
      color: var(--color-grey);
      p {
        margin: 0;
      }
    }

    &-btn {
      padding-top: 3.5rem;
    }

    &-link {
      padding-top: 1rem;
      text-align: center;
      color: var(--color-primary);
      a {
        color: var(--color-primary);
        font-weight: bold;
      }

      &-pass {
        &:hover {
          cursor: not-allowed;
        }
      }
    }

    &-divider {
      padding-top: 4rem;
    }

    &-or {
      padding: 2rem 0;
      text-align: center;
      color: var(--color-black);
      p {
        margin: 0;
      }
    }
  }
}

.btn-wrap {
  display: flex;
  justify-content: center;
}
