<div class="recipe-card" [routerLink]="['/recipe', recipe?.recipeId]">
  <div class="recipe-card__img-box">
    <img
      [src]="normalImgOrPlaceholder(recipe?.imgId)"
      alt="Recipe img"
      class="recipe-card__img" />
  </div>

  <div class="row recipe-card__info-1">
    <p class="col-6 recipe-card__info-1__subredit">
      r/<span class="highlight-darker">{{ recipe?.subfoodditName }}</span>
    </p>
    <p class="col-6 recipe-card__info-1__date p-0">
      {{ getHoursOrMinutesFromToday(recipe?.datePosted) }}
    </p>
  </div>

  <div class="recipe-card__title-box">
    <div class="recipe-card__title">
      {{ recipe?.title }}
    </div>
  </div>
</div>
