<div class="sticky col-2">
  <div class="sticky__community">
    <div class="sticky__links">
      <a
        type="submit"
        [ngClass]="{ 'active-link': isActiveHome() }"
        class="button nav-link"
        href="/">
        <img src="../../assets/icons/house.svg" alt="Post-Recipe" />
        <span> Home Page </span>
      </a>
      <a
        type="submit"
        [ngClass]="{ 'active-link': isActiveCreate() }"
        class="button nav-link"
        href="/create">
        <img
          class="img-write"
          src="../../assets/icons/pencil-square.svg"
          alt="Post-Recipe" />
        <span> New Recipe </span>
      </a>
      <a
        type="submit"
        [ngClass]="{ 'active-link': isActiveCreateSubf() }"
        class="button nav-link"
        href="/subf/create">
        <img
          class="img-write"
          src="../../assets/icons/journal-plus.svg"
          alt="Post-Recipe" />
        <span> New Subfooddit </span>
      </a>
    </div>
    @if(isPageLoaded){
      <div class="p-1 sticky__fooddits">
        <p class="sticky__fooddits-title">My fooddits:</p>
        @for(subF of usersSubFooddits; track subF){
          <a
            class="dropdown-item"
            [href]="'f/' + subF.title"
            >f/{{ subF.title }}</a
          >
        }
        @empty {
          <p href="find">You haven't joined any.</p>
        }
      </div>
    } @else{
      <div class="p-1 sticky__spiner-wrap">
        <div class="sticky__spiner-wrap-2">
          <span class="spiner spiner-small"></span>
        </div>
      </div>
    }
  </div>
</div>
