<div class="sticky col-2">
    <div class="sticky__community">
        <div class="sticky__links">
            <a type="submit" [ngClass]="{'active-link': isActiveHome()}" class="button-5-2" href="/">
                <img src="../../assets/icons/house.svg" alt="Post-Recipe">
                <span>
                    Home Page
                </span> 
            </a>
            <a type="submit" [ngClass]="{'active-link': isActiveCreate()}"class="button-5-2" href="/create">
                <img class="img-write" src="../../assets/icons/pencil-square.svg" alt="Post-Recipe">
                <span>
                    New Recipe
                </span> 
            </a>
        </div>
        <div class="p-1 sticky__fooddits"> 
            <p class="sticky__fooddits-title">
              My fooddits:
            </p> 
            <a class="dropdown-item" *ngFor="let subF of usersSubFooddits" [href]="'f/'+subF.title">f/{{subF.title}}</a>
        </div>
    </div>
</div>
