.sticky {
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  color: var(--color-black);
  background-color: var(--color-white);
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  box-shadow: 2px 0 3px -2px rgba(0, 0, 0, 0.2);
  max-width: 35rem;

  &__community {
    padding: 8rem 2rem 2rem 2rem;
  }

  &__links {
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding-bottom: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 0rem;
    border-bottom: 1px solid var(--color-grey-light-3);

    a {
      justify-content: left;
      padding: 0.8rem 0;
    }
  }

  &__fooddits {
    overflow: hidden;
    margin-top: 2rem;
    max-height: 30rem;

    &-title {
      font-size: 1.7rem;
      letter-spacing: 0.2rem;
      font-weight: 500;
    }
    a {
      overflow: hidden;
      padding: 0.7rem 0 .7rem 1rem;
      position: relative;
      box-sizing: border-box;
      
      &:hover{
        transition: color .1s .2s;
        color: var(--color-white);

        &::before{
          transform: scaleY(1);
          width: 100%;
        }
      }
      &:not(a:nth-child(2)){
        margin-top: .2rem;
      }
      
      &::before{
        content: "";
        z-index: -1;;
        transform: scaleY(0);
        top: 0;
        left: 0;
        position: absolute;
        display: block;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary);
        transition: transform .2s, width .4s cubic-bezier(1,0,0,1) .2s;
      }
    }
  }

  &__spiner-wrap{
    margin-top: 2rem;
    height: 10rem;
    &-2{
      display: flex;
      justify-content: center;
    }
  }
}

.nav-link {
  color: var(--color-black);
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-decoration: none;
  min-width: 14rem;

  &:hover {
    color: var(--color-primary);
    img {
      filter: var(--color-primary-for-filter);
    }
  }

  img {
    transition: all 100ms;
    padding-right: 0.8rem;
  }
}

.active-link {
  color: var(--color-primary);
  img {
    filter: var(--color-primary-for-filter);
  }
}

.active-link-bg{
  color: var(--color-white);
  background-color: var(--color-primary);
}
