<div class="sticky">
    <div class="sticky__community">
        <div class="sticky__links">
            <a type="submit" [ngClass]="{'active-link': isActiveHome()}" class="button-5-2" href="/">
                <img src="../../assets/icons/house.svg" alt="Post-Recipe">
                <span>
                    Home Page
                </span> 
            </a>
            <a type="submit" [ngClass]="{'active-link': isActiveCreate()}"class="button-5-2" href="/create">
                <img class="img-write" src="../../assets/icons/pencil-square.svg" alt="Post-Recipe">
                <span>
                    New Recipe
                </span> 
            </a>
        </div>
        <div class="p-1 sticky__foodits"> 
            <p class="sticky__foodits-title">
              Your foodits:
            </p> 
            <a class="dropdown-item" href="#">f/Nice</a>
            <a class="dropdown-item" href="#">f/Good</a>
            <a class="dropdown-item" href="#">f/Good</a>
            <a class="dropdown-item" href="#">f/Good</a>
            <a class="dropdown-item" href="#">f/Good</a>
            <a class="dropdown-item" href="#">f/Good</a>
        </div>
    </div>
</div>
