<div class="menu-overlay" *ngIf="isMenuOpen()">
  <ul class="menu-overlay__list">
    <!-- TODO: add reworked search bar for mobile -->
    <!-- TODO: add reworked "my subfooddits" list on mobile -->
    @if(isLoggedIn){
      <li>
        <a class="menu-overlay__avatar" routerLink="user/me" (click)="closeMenu()">
          <img appUseUserImgOrPlaceholder [imgId]="profileImgUrl" imgType="user" alt="user-avatar" />
        </a>
      </li>
    }

    <li class="menu-overlay__item">
      <a
        [routerLink]="['/']"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="closeMenu()"
        class="menu-overlay__link">
        Home
      </a>
    </li>

    @if(isLoggedIn){
      <li class="menu-overlay__item">
        <a
          routerLink="/create"
          routerLinkActive="active-link"
          (click)="closeMenu()"
          class="menu-overlay__link">
          New Recipe
        </a>
      </li>
      <li class="menu-overlay__item">
        <a
          routerLink="/subf/create"
          routerLinkActive="active-link"
          (click)="closeMenu()"
          class="menu-overlay__link">
          New Subfooddit
        </a>
      </li>
    } @else {
      <li class="menu-overlay__item">
        <a
          routerLink="/sign-in"
          routerLinkActive="active-link"
          (click)="closeMenu()"
          class="menu-overlay__link">
          Sign-in
        </a>
      </li>
      <li class="menu-overlay__item">
        <a
          routerLink="/register"
          routerLinkActive="active-link"
          (click)="closeMenu()"
          class="menu-overlay__link">
          Register
        </a>
      </li>
    }
  </ul>
</div>
