<div class="menu-overlay" *ngIf="isMenuOpen()">
  <ul class="menu-overlay__list">
    <!-- TODO: add reworked search bar for mobile -->
    <!-- TODO: add reworked "my subfooddits" list on mobile -->
    @if(isLoggedIn){
      <li>
        <a class="menu-overlay__avatar" routerLink="user/me" (click)="goToUserPage()">
          <img appUseUserImgOrPlaceholder [imgId]="profileImgUrl" imgType="user" alt="user-avatar" />
        </a>
      </li>
    }

    <li class="menu-overlay__item">
      <a
        routerLink="/"
        [class.active-link]="isActiveRoute('/')"
        class="menu-overlay__link">
        Home
      </a>
    </li>

    @if(isLoggedIn){
      <li class="menu-overlay__item">
        <a
          routerLink="/create"
          [class.active-link]="isActiveRoute('/create')"
          class="menu-overlay__link">
          New Recipe
        </a>
      </li>
      <li class="menu-overlay__item">
        <a
          routerLink="/subf/create"
          [class.active-link]="isActiveRoute('/subf/create')"
          class="menu-overlay__link">
          New Subfooddit
        </a>
      </li>
    } @else {
      <li class="menu-overlay__item">
        <a
          routerLink="/sign-in"
          [class.active-link]="isActiveRoute('/sign-in')"
          class="menu-overlay__link">
          Sign-in
        </a>
      </li>
      <li class="menu-overlay__item">
        <a
          routerLink="/register"
          [class.active-link]="isActiveRoute('/register')"
          class="menu-overlay__link">
          Register
        </a>
      </li>
    }
  </ul>
</div>
