@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

// Bootstrap mixin
@mixin respond($breakpoint) {
  @if $breakpoint == xs {
    @media (max-width: 35.9375em) { // <576px
      @content;
    } 
  }

  @if $breakpoint == sm {
    @media (min-width: 36em) { // ≥576px
      @content;
    } 
  }

  @if $breakpoint == md {
    @media (min-width: 48em) { // ≥768px
      @content;
    } 
  }

  @if $breakpoint == lg {
    @media (min-width: 62em) { // ≥992px
      @content;
    }
  }

  @if $breakpoint == xl {
    @media (min-width: 75em) { // ≥1200px
      @content;
    }
  }

  @if $breakpoint == xxl {
    @media (min-width: 87.5em) { // ≥1400px
      @content;
    }
  }
}
