// Colors
:root{
    --color-primary: #FDBD1F;
    --color-primary-light: #FDBD1F; 
    --color-primary-dark: #A80000; 
    --color-grey: #777;
    --color-white: #fff;
    --color-black: #000;
    --color-grey-light-1: #f7f7f7; 
    --color-grey-light-2: #eee; 
    --color-grey-light-3: #d8d7d7; 
    --color-secondary-light: #fdbd1f;
    --color-secondary-dark: #CB9200;
}

