<div class="subfooddit-wrap">
  <div class="subfooddit-wrap__header">
    <h2 class="subfooddit-wrap__header-title">
      <span class="subfooddit-wrap__header-title-span">
        f/{{ subFooddit?.title }}
      </span>
    </h2>
  </div>

  <div *ngIf="isPageLoaded" class="subfooddit-wrap__info">
    <!-- TODO: add more info/rules of subfooddit -->
    <div class="subfooddit-wrap__info-join btn-wrap">
      <button
        type="submit"
        (click)="joinSubFooddit()"
        class="button button--grey">
        <span class="text-join" *ngIf="showJoin()">
          <span class="big_plus">+</span> Join
        </span>
        <span class="text-leave" *ngIf="!showJoin()"> Leave </span>
      </button>
    </div>
    <div class="subfooddit-wrap__info-count">
      <div>
        <p>{{ getUsersCountText() }}</p>
      </div>
    </div>
  </div>
</div>

<app-recipes
  [ShowTitle]="false"
  [SubFoodditName]="this.subFoodditName"></app-recipes>
