
<div class="subfooddit-wrap">
    <div class="subfooddit-wrap__header">
        <h2 class="subfooddit-wrap__header-title">
            <span class="subfooddit-wrap__header-title-span">
                f/{{subFooddit.title}}
            </span>
        </h2>
    </div>

    <div class="subfooddit-wrap__info">
        <!-- TODO: add more info/rules of subfooddit -->
        
        <!-- TODO: change status if user has already joined -->
        <div class="subfooddit-wrap__info-join btn-wrap">
            <button type="submit" (click)="joinSubFooddit()"class="button-5">
                <span *ngIf="showJoin()">
                    <span class="big_plus">+</span> Join
                </span>
                <span *ngIf="!showJoin()">
                    Leave
                </span>
            
            </button>
        </div>
        <!-- TODO: return real count -->
        <div class="subfooddit-wrap__info-count">
            <div>
                <p>{{getUsersCountText()}}</p>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!isLoggedIn" class="subfooddit-wrap not-logged-in">
    <div class="subfooddit-wrap__header">
        <h2 class="subfooddit-wrap__header-title">
            <span class="subfooddit-wrap__header-title-span">
                f/{{subFooddit.title}}
            </span>
        </h2>
    </div>

    <div class="subfooddit-wrap__info">
        <!-- TODO: add more info/rules of subfooddit -->
        
        <!-- TODO: return real count -->
        <div class="subfooddit-wrap__info-count">
            <div>
                <p>{{getUsersCountText()}}</p>
            </div>
        </div>
    </div>
</div>

<app-recipes [ShowTitle]="false" [SubFoodditName]="this.subFoodditName"></app-recipes>