<div class="overlay-container mat-elevation-z2">
  <mat-divider />
  @if(showHistory()){
    @if(recentSearcher().length > 0){
      <mat-action-list>
        @for (search of recentSearcher(); track search) {
          <mat-list-item (click)="navigate(search)" role="navigation">
            <mat-icon matListItemIcon>history</mat-icon>
            <h3 matListItemTitle>f/{{ search }}</h3>
            <button
              matListItemMeta
              mat-icon-button
              (click)="deleteRecentSearch(search)">
              <mat-icon>close</mat-icon>
            </button>
          </mat-list-item>
        }
      </mat-action-list>
    } @else {
      <mat-action-list>
        @for (search of randomSearcher(); track search) {
          <mat-list-item (click)="navigate(search)">
            <h3 matListItemTitle>f/{{ search }}</h3>
          </mat-list-item>
        }
      </mat-action-list>
    }
  } @else {
    <mat-action-list>
      @for (search of currentSearcher(); track search) {
        <mat-list-item (click)="navigate(search)">
          <h3 matListItemTitle>f/{{ search }}</h3>
        </mat-list-item>
      }
    </mat-action-list>
  }
</div>
