.recipes-list-wrap{
    margin-top: 4rem;
    
    .col-sm-4{
        column-gap: 2rem;
    }

    .heading-secondary{
        margin-top: 5rem;
    }

    &__heading{
        padding: 0 1.5rem 1.5rem;
        border-bottom: solid 2px #FDBD1F;
    }

    &__topSort{
        
        &-sortby{
            display: flex;
            align-items: center; 
            justify-content: right;
            p{
                font-size: 2rem;
                font-weight: bold;
                margin: 0;
            } 
        }

        &-sort{
            margin-left: 1rem;
            width: 10rem !important;
            .form-select{
                padding-left: 0;
                margin: 0 !important;
                font-size: 2rem;
                border: none;
                background-color: transparent;
                
                &:hover{
                    cursor: pointer;
                }
                &:focus{
                    box-shadow: 0 0px 0px transparentize(#FDBD1F, .8)  inset, 0 0 0px transparentize(#FDBD1F, .7);
                    border-color: transparent;
                    outline: 0 none;
                }
    
                option{
                    padding: .375rem 2.25rem .375rem .75rem !important; 
                    &:hover{
                        cursor: pointer !important;
                    }
                }
            }
        }
    }
    &__empty{
        font-size: 2rem;
        text-align: center;
        
        p{
            margin: 0;
        }
        &-title{
            font-size: 3rem;
            padding: 2rem;
        }
        &-img{
            height: 10rem;
        }
        &-create-text{
            padding-bottom: 1rem;
        }
    }

    .highlight{
        color: var(--color-primary);
    }
    .not-highlight{
        color: black !important;
    }
}

// * CSS */
// TODO: Clean stolen css
.btn-wrap{
    
    border-right: 1px solid transparentize(#030303, .47);
}
.button-5 {
    align-items: center;
    background-clip: padding-box;
    background-color: transparent;
    border: 1px solid transparentize(#030303, .47);
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: transparentize(#030303, .4);
    cursor: pointer;
    font-size: 2rem;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    min-height: 3rem;
    position: relative;
    padding: 0.5rem 0 1rem 0;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    border-radius: 3rem;
    width: 11rem;
}

.button-5:hover,
.button-5:focus {
  color: #FDBD1F;
  border: 1px solid transparentize(#FDBD1F, .47);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
    transform: translateY(-1px);
}

.button-5:active {
    border: 1px solid transparentize(#FDBD1F, .47);
    color: #FDBD1F;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}

