@import '../../Styles/abstract/mixins';


.recipes-list-wrap {
  max-width: var(--max-page-width-unlogged);
  margin: auto;
  margin-top: 4rem;

  .col-sm-4 {
    column-gap: 2rem;
  }

  .heading-secondary {
    margin-top: 5rem;
  }

  &__spiner-wrap{
    padding-top: 5rem;
    display: flex;
    justify-content: center;
  }

  &__heading {
    padding: 0 1.5rem 1.5rem;
    border-bottom: solid 2px var(--color-primary);
    position: relative;

    @include respond(xs) {
      border-bottom: none;

      &-mb-border {
        border-top: solid 2px var(--color-primary);
        margin: 2rem auto 0;
        width: 80%;
      }
    }
  }

  &__topSort {
    &-sortby {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 1.5rem;
      @include respond(md) {
        justify-content: right;
        padding-bottom: 0;
      }
      p {
        font-size: 2rem;
        font-weight: bold;
        margin: 0;
      }
    }

    &-sort {
      margin-left: 1rem;
      width: 10rem !important;
      .form-select {
        padding-left: 0;
        margin: 0 !important;
        font-size: 2rem;
        border: none;
        background-color: transparent;

        &:hover {
          cursor: pointer;
        }

        &:focus {
          box-shadow: none;
          border-color: transparent;
          outline: 0 none;
        }

        option {
          padding: 0.375rem 2.25rem 0.375rem 0.75rem !important;
          &:hover {
            cursor: pointer !important;
          }
        }
      }
    }
  }

  &__empty {
    color: var(--color-grey);
    font-size: 2rem;
    text-align: center;

    p {
      margin: 0;
    }

    &-title {
      font-size: 3rem;
      padding: 1rem 0 2rem;
    }

    &-img {
      filter: var(--color-grey-for-filter);
      height: 10rem;
    }

    &-create-text {
      color: var(--color-grey);
      padding: 1rem 0;
    }
  }

  .highlight {
    color: var(--color-primary);
  }
  .not-highlight {
    color: var(--color-black) !important;
  }
  button {
    font-size: 1.8rem !important;
    width: 12rem;
  }
}
