<div class="row justify-content-md-center">
    <div class="sign-up-card col-md-5">
        <h2 class="heading-secondary">
            <span>
                New Account
            </span>
        </h2>

        <form [formGroup]="signupForm" (ngSubmit)="onSignup()" class="sign-up-card__input-fields">
            <div class="form-group">
                <input id="username" formControlName="username" type="text" class="form-control input-text" placeholder="Username">
            </div>
            <div class="form-group">
                <input id="email" formControlName="email" type="text" class="form-control input-text" placeholder="Email">
            </div>
            <div class="form-group">
                <input id="password" formControlName="password" type="password" class="form-control input-text" placeholder="Password">
            </div>
            <div class="form-group">
                <input id="confirm_password" formControlName="confirmPassword" type="password" class="form-control input-text" placeholder="Confirm Password">
            </div>
            <div class="sign-up-card__input-fields-p">
                <p>
                    By creating an account, you agree to the 
                    <span class="underline">Terms of Service</span> and 
                    <span class="underline">Privacy Policy</span>.
                </p>
            </div>
            <div class="btn-wrap sign-up-card__input-fields-btn">
                <button type="submit" [disabled]="signupForm.invalid" class="button button--yellow button--auth">Create a new account</button>
            </div>
            <div class="sign-up-card__input-fields-link">
                <p>
                    Have an account? <a href="/sign-in">Sign In</a>
                </p>
            </div>
            
            <div class="sign-up-card__input-fields-divider"></div>
            <div class="sign-up-card__input-fields-or">
                <p>
                    or
                </p>
            </div>
            <button type="button" class="login-with-google-btn" disabled>
                Sign in with Google
            </button>
        </form>
    </div>
</div>