<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="recipe-card">
  <!-- [routerLink]="['/recipe', recipe?.recipeId]" -->
  <div class="recipe-card__upvotes-box">
    <a
      (click)="doUpvote()"
      appAuthenticated
      [class.active-vote]="this.recipe.vote === this.voteType.Upvote">
      <img class="up-arrow" src="../../../assets/imgs/up-arrow.svg" alt="Upvote arrow" />
    </a>
    <p class="vote_count">{{ this.recipe.aggregatedVotes | userVote }}</p>
    <a
      (click)="doDownvote()"
      appAuthenticated
      [class.active-vote]="this.recipe.vote === this.voteType.Downvote">
      <img class="down-arrow" src="../../../assets/imgs/up-arrow.svg" alt="Downvote arrow"/>
    </a>
  </div>

  <div
    class="recipe-card__img-box"
    [routerLink]="['/recipe', recipe.recipeId]">
    <img
      appUseUserImgOrPlaceholder 
      [imgId]="recipe.imgId" 
      imgType="recipe"
      alt="Recipe img"
      class="recipe-card__img" />
  </div>

  <div class="recipe-card__info-1">
    <a
      class="recipe-card__info-1__subfooddit"
      [routerLink]="['/f/', recipe.subfoodditName]">
      f/<span class="highlight-darker">{{ recipe.subfoodditName }}</span>
    </a>
    <p class="recipe-card__info-1__date">
      {{ recipe.datePosted | timestamp }}
    </p>
  </div>

  <div
    class="recipe-card__title-box overflow-hidden"
    [routerLink]="['/recipe', recipe.recipeId]">
    <div class="recipe-card__title">
      {{ recipe.title }}
    </div>
  </div>

  <div class="recipe-card__name-box">
    <p class="recipe-card__name">
      By
      <a [href]="'/user/' + recipe.userId" class="highlight-darker">{{
        recipe.userName
      }}</a>
    </p>
  </div>

  <div class="recipe-card__info-2 row justify-content-md-start">
    <div class="recipe-card__info-2__comments-box col-4">
      <img src="../../../assets/imgs/comment.svg" alt="Comment icon"/>
      <span>{{ recipe.commentCount ?? 0 }}</span>
    </div>

    <div class="recipe-card__info-2__upvotes-box row col-4"></div>

    <div
      (click)="copyLinkToClipBoard(recipe.recipeId)"
      class="recipe-card__info-2__share-box col-4">
      <img src="../../../assets/imgs/share.svg"  alt="Copy link icon"/>
    </div>
  </div>
</div>
