mat-dialog-content{
    font-weight: bold;
    color: var(--color-black) !important;
}

.permanent-red, .btn-delete{
    font-weight: bold;
    color: var(--color-error-red) !important;
}

mat-dialog-actions{
   justify-content: space-between;
}