mat-dialog-content{
    font-weight: bold;
    color: black !important;
}

.permanent-red, .btn-delete{
    font-weight: bold;
    color: #E23636 !important;
}

mat-dialog-actions{
   justify-content: space-between;
}