.top-navbar{
  padding: 0 2rem 0 .6rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--color-white);
  font-size: 1.6rem;
  box-shadow: 0 0 .3rem rgba(0, 0, 0, .2);

  &__logo{
    img{
      height: 4rem;
    }
  }

  &__search{
    display: flex;
  }

  &__avatar{
    img{
      vertical-align: middle;
      width: 4rem;
      width: 4rem;
      border: var(--color-primary) 2px solid;
      border-radius: 50%;
      &:hover{
        cursor: pointer;
      }
    }
  }
  
  &__sign-out-link{
    color: var(--color-primary-dark);
    align-self: flex-end;
    margin-left: 2rem;
    padding-bottom: .8rem;
    transition: color 0.3s;
    font-size: 1.75rem;
    
    &:hover{
      color: var(--color-primary);
      cursor: pointer;
    }
  }
}

.btn-wrap{
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;

  button:last-child {
    margin-left: 1.6rem;
  }
}