<nav class="top-navbar pt-3 pb-3">
        <div class="row">
            <div class="col-4">
                <a class="top-navbar__logo navbar-brand" href="#">
                    <img  src="../../assets/imgs/foodit.png" alt="Foodit">
                </a>
            </div>
            <div class="col-4 top-navbar__search">
                <div class="top-navbar__search-input-wrap">
                    <img  src="../../assets/icons/search.svg" alt="Foodit">
                    <input type="text" placeholder="Search...">

                </div>
            </div>

            <div class="col-4" *ngIf="true">
                <div class="btn-wrap pr-7">
                    <!-- TODO: add click listener -->
                    <button type="submit" class="button-5-1">Register</button>
                    <button type="submit" class="button-5">Sign in</button>
                </div>
            </div>
            <div class="col-4" *ngIf="false">
                <div class="btn-wrap">
                    <a class="top-navbar__avatar">
                        <!-- Add user profile -->
                        <img src="../../assets/imgs/user-avatar.png" alt="user-avatar">
                    </a>
                </div>
            </div>
        </div>
</nav>
  