/* Needed to overwrite all of the formating that comes from browsers */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

html {
    // So that 1 rem = 10px
    font-size: 62.5%;
}

body { 
    background-color: #f7f7f7 !important;
    box-sizing: border-box;
}
